In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Mo\\Downloads\\chapter3_assets\\chapter_3_assets\\6_group_by\\weather_by_cities.csv")
df

         day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
4   1/1/2017    mumbai           90          5   Sunny
5   1/2/2017    mumbai           85         12     Fog
6   1/3/2017    mumbai           87         15     Fog
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
9   1/2/2017     paris           50         13  Cloudy
10  1/3/2017     paris           54          8  Cloudy
11  1/4/2017     paris           42         10  Cloudy

In [7]:
g = df.groupby('city')
for city,data in g:
    print("city:",city)
    print("max temp:",data.temperature.max())

city: mumbai
max temp: 92
city: new york
max temp: 36
city: paris
max temp: 54

In [13]:
def grouper(df,idx,col):
    if 80 <= df[col].loc[idx] <= 90:
        return '80 - 90'
    elif 50 <= df[col].loc[idx] <= 60:
        return '50 - 60'
    else:
        return 'Others'

In [14]:
M = df.groupby(lambda idx: grouper(df,idx,'temperature'))
M

In [15]:
for key,data in M:
    print("key:",key)
    print("data:",data)

key: 50 - 60
data:          day   city  temperature  windspeed   event
9   1/2/2017  paris           50         13  Cloudy
10  1/3/2017  paris           54          8  Cloudy
key: 80 - 90
data:         day    city  temperature  windspeed  event
4  1/1/2017  mumbai           90          5  Sunny
5  1/2/2017  mumbai           85         12    Fog
6  1/3/2017  mumbai           87         15    Fog
key: Others
data:          day      city  temperature  windspeed   event
0   1/1/2017  new york           32          6    Rain
1   1/2/2017  new york           36          7   Sunny
2   1/3/2017  new york           28         12    Snow
3   1/4/2017  new york           33          7   Sunny
7   1/4/2017    mumbai           92          5    Rain
8   1/1/2017     paris           45         20   Sunny
11  1/4/2017     paris           42         10  Cloudy