In [15]:
import numpy as np
import pandas as pd
from sklearn import linear_model

df = pd.read_csv("Linear_multible vars.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [16]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [19]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)

In [20]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [23]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [24]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [25]:
reg.intercept_

383725.00000000006

In [27]:
reg.predict([[3000,3,40]])

c:\users\mo\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([444400.])