In [10]:
import pandas as pd
import numpy as np
import matplotlib as plt
import math
from sklearn.linear_model import LinearRegression

In [11]:
df = pd.read_csv("Homeprices .csv")
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [14]:
median_bedroom = df.bedrooms.median()
df.bedrooms = df.bedrooms.fillna(median_bedroom)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [17]:
model = LinearRegression()
model.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [18]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [19]:
model.intercept_

221323.00186540443

In [20]:
model.predict([[3000,3,40]])

c:\users\mo\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([498408.25158031])

In [22]:
112.06244194*3000 + 23388.88007794*3 -3231.71790863*40 + 221323.00186540443

498408.25157402444